.theia-scanoss-logo {
  background-image: url("scanoss_logo.jpeg");
  background-size: cover; /* Resize image to cover the button */
  background-position: center; /* Center the image within the button */
  transition: filter 0.3s; /* Smooth transition for hover effect */
  display: inline-block;
}

.theia-scanoss-logo:hover {
  filter: brightness(0.7); /* Darkens the image on hover */
}

.theia-scanoss-logo.requesting {
  animation: pulse 1s infinite ease-in-out;
}

.theia-scanoss-logo.clean::after {
  content: '✅'; /* Unicode checkmark symbol */
  position: absolute;
  color: green;
}

.theia-scanoss-logo.match::after {
  content: '⚠️'; /* Unicode warning triangle symbol */
  position: absolute;
  color: yellow
}

.theia-scanoss-logo.error::after {
  content: '❌'; /* Unicode red cross symbol */
  position: absolute;
  color: red;
}

.theia-scanoss-logo .placeholder {
  visibility: hidden;
}
